<div class="container">
    <div id="signInButton" class="mt-5 mx-auto" style="width:100px;">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="398694075341-6gqk7v39i09ggrsb4jc46mr4ksk9jqh7.apps.googleusercontent.com"
            data-redirecturl="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force"
        >
        </span>
    </div>
    <div id="result" class="mx-auto" style="width:200px"></div>
</div>
