<div class="course-content">
    <div class="heading">Course: {{ course.name }}</div>
        <div class="row">
            <div class="course-info col-sm-4">
                <p>{{ course.description }}</p>
            </div>
            <div class="course-img col-sm-4">
                <img class="course-card-img" src="{{ course.img_url }}" alt=""/>
            </div>
        </div>
    
    {% if course.intro_video_url %}
        <div class="row">
            <div class="intro-video">
                <iframe width="560" height="315" src="{{ course.intro_video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    {% endif %}    
    </div>
</div>