<div class="heading">
    All courses for {{ category.name }}
</div>
{% if not courses %}
<h4>Sorry, no available courses for the <span class="title-bold">{{ category.name }}</span> category yet.</h4>
{% else %}
<div class="row">
{% for course in courses %} 
<div class="col-md-4 col-sm-6">
    <div class="course-card-outer">
        <a href="{{ url_for('course.get_course_by_id', category_id = category.id, course_id = course.id) }}">
            <div class="thumbnail">
                <img class="course-card-img" src="{{ course.img_url }}" alt=""/>
                <div class="course-card-title caption">
                    <h4>{{ course.name }}</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="course-card-outer">    
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ url_for('course.edit_course', category_id = category.id, course_id = course.id) }}">Edit</a>
                <a class="dropdown-item" href="{{ url_for('course.delete_course', category_id = category.id, course_id = course.id) }}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="col-sm-12">
    <div class="course-card-outer">
        <a href="{{ url_for('course.new_course', category_id = category.id) }}">
            <div class="category-card add-section">
                <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                Add a new course
            </div>
        </a>
    </div>
</div>
