<div class="heading">All Categories</div>
<div class="row">
    {% for category in categories %}
    <div class="col-md-4 col-sm-6">
        <div class="category-card-outer">
            <a href="{{ url_for('course.get_courses_by_categoryID', category_id=category.id) }}">
            <div class="category-card">
                <div>{{ category.name }}</div>
            </div>
        </a>
        </div>
        <div class="category-card-outer">    
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       href="{{ url_for('category.edit_category', category_id=category.id) }}">Edit</a>
                    <a class="dropdown-item"
                       href="{{ url_for('category.delete_category', category_id=category.id) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-md-4 col-sm-6">
        <div class="category-card-outer">
            <a href="{{ url_for('category.new_category') }}">
                <div class="category-card add-section">
                    <i class="fa fa-plus fa-3" aria-hidden="true"></i>
                </div>
            </a>
        </div>       
    </div>
</div>