<html>
    <head>
        <!-- BEGIN Pre-requisites -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <!-- END Pre-requisites -->
        <script>
            function start() {
              gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                  client_id: '398694075341-6gqk7v39i09ggrsb4jc46mr4ksk9jqh7.apps.googleusercontent.com',
                  scope: 'openid email'
                });
              });
            }
        </script>
    </head>
    <body>
        <button id="signinButton">Sign in</button>
        <script>
          $('#signinButton').click(function() {
            auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
          });
        </script>
        <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                //Hide the sign-in button as user is authorized
                $('#signinButton').attr('style','display: none');

                /*
                    Send one-time-use code to the server;
                    If server responds, inform user and redirect to homepage
                */
                $.ajax({
                    type: 'POST',
                    url: '/auth/gconnect',
                    processData: false,
                    contentType: 'application/json; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        console.log(JSON.stringify(result))
                    }
                })
            }
        }
    </script>
    </body>
</html>